
body {
    background: #001023;
}

#canvas{
    background: darkslategrey;
    position: relative;
    display: grid;
    border: 2px dashed black;
}

.cpu-panel{
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-panel{
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-buttons{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 20px;
    gap: 10px;
}
#player-info{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 30px;
    gap: 100px;
}


