<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="./style/style.css"/>
  <link rel="stylesheet" href="./style/navbar.css"/>
  <link rel="stylesheet" href="./style/card.css"/>
  <link rel="stylesheet" href="./style/score.css"/>
  <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
</head>


<body>
  <nav class="navbar">
    <a href="#">Accueil</a>
    <a href="#">Blackjack</a>
    <a href="#">Perudo</a>
    <a href="#">Log in</a>
    <a href="#">Sign up</a>
  </nav>

  <main>
    <aside>
      Navigation
    </aside>

    <div id="canvas">
      <!-- CPU SIDE -->
      <div class="cpu-panel">
        <div id="cpu-deck" class="card-container">

          <div class="card">
            <div class="color">&heartsuit;</div>
            <div class="value">K</div>
          </div>

          <div class="card">
            <div class="color">&heartsuit;</div>
            <div class="value">Q</div>
          </div>
          <div class="card">
            <div class="color">&spades;</div>
            <div class="value">J</div>
          </div>
        </div>
      </div>

      <div id="cpu-score" class="score">
        score:
      </div>

      <div id="game-buttons">
        <button hx-get="/player/draw" hx-target="#player-deck" hx-swap="innerHTML"> Draw </button>
        <button hx-post="/player/fold" hx-target="#game-buttons" hx-swap="innerHTML"> Fold </button>
        <button>Bet</button>
      </div>

      <!-- PLAYER SIDE -->
      <div id="player-info">
        <div id="money-bet"> bet : </div>
        <div id="player-score" class="score">score :</div>
        <div id = wallet> wallet</div>
      </div>

      <div class="player-panel">
        <div id="player-deck" class="card-container">
          <div class="card">
            <div class="color">&spades;</div>
            <div class="value">10</div>
          </div>
        </div>
      </div>

    </div>
  </main>
</body>
</html>