.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;
}
.card{
    background-color: lightyellow;
    padding: 20px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: grid;
    justify-items: center;
}

.color{
    position: relative;
    font-size: 50px;
    color: #000;
}

.value{
    position: relative;
    font-size: 30px;
    color: #000;
}