<style>
    .card-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px;
        gap: 10px;
    }
    .card{
        background-color: lightyellow;
        padding: 20px;
        border: 1px solid black;
        border-radius: 3px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        display: grid;
        justify-items: center;
    }

    .card-back {
        background-color: #d4a373; /* Rustic brown */
        border-radius: 10px; /* Rounded corners */
        width: 100px; /* Width of the card */
        height: 150px; /* Height of the card */
        border: 2px solid #896F5F; /* Darker border */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Box shadow for depth */
    }

    .color{
        position: relative;
        font-size: 50px;
        color: #000;
    }

    .value{
        position: relative;
        font-size: 30px;
        color: #000;
    }

    body {
        background: #001023;
    }

    #canvas{
        background: darkslategrey;
        position: relative;
        width: 100vw;
        height: 100vh;
        display: grid;
        border: 2px dashed black;
        align-content: space-between;
        align-items: center;
    }

    .cpu-panel{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .player-panel{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #game-buttons{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        padding: 5px;
        gap: 30px;
        margin-bottom: 12px;
    }

    #game-buttons button {
        background-color: #d4a373; /* Rustic brown */
        color: #fff; /* White text */
        padding: 20px 40px; /* Padding */
        border: none; /* No border */
        border-radius: 5px; /* Rounded corners */
        font-size: 16px; /* Font size */
        font-weight: bold; /* Bold text */
        cursor: pointer; /* Cursor style */
        text-transform: uppercase; /* Uppercase text */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
    }
    #game-buttons button:hover{
        background-color: #b58657;
    }
    #game-buttons button:active{
        transform: translateY(1px);
    }

    .score{
        background: #896F5F;
        font-size: 30px;
        font-weight: bolder;
        border: 3px solid beige;
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;

    }

    .score:hover{
        background-color: #b58657;
    }

    #cpu-info{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        font-size: 30px;
        gap: 100px;
    }

    #player-info{
        display: flex;
        align-content: center;
        align-items: center;
        font-size: 30px;
        justify-content: space-evenly;

        background-color: #3e5867;
        padding: 10px 20px; /* Padding */
        font-weight: bold; /* Bold text */
        text-align: center; /* Center-align text */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
        color:white;
    }

    .score-container{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        font-size: 30px;
        gap: 15px;
        color: #eae6de;
    }

    #central-zone{
        display: flex;
        align-content: center;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }
    #scores{
        display: flex;
        flex-direction: column;
        gap: 19px;
    }

</style>
<body>
<main>
    <div id="canvas">

        <!-- PLAYER SIDE -->
        <div id="player-info">
            <div id="money-bet"> BET : {{ bet }} </div>
            <div id="player-money"> BANK : {{ bank }} </div>
        </div>

        <!-- CPU SIDE -->
        <div class="cpu-panel">
            <div id="cpu-deck" class="card-container">

                <!-- Cards -->
                {% for card in cpu_hand %}
                <div class="card">
                    <div class="color"> {{ card.color }} </div>
                    <div class="value"> {{ card.value }} </div>
                </div>
                {% endfor %}

            </div>
        </div>

        <div id="central-zone">
            <div id="scores">

                <div class="score-container">
                    <div> house </div>
                    <div id="cpu-score" class="score">
                        {{ cpu_score }}
                    </div>
                </div>

                <div class="score-container">
                    <div> player </div>
                    <div id="player-score" class="score">
                        {{ player_score }}
                    </div>
                </div>

            </div>

            <div id="deck-container">
                <img src="../deck" alt="deck" class="card-back">
            </div>
        </div>



        <div class="player-panel">
            <div id="player-deck" class="card-container">

                <!-- player cards -->
                {% for card in player_hand %}
                    <div class="card">
                        <div class="color"> {{ card.color }} </div>
                        <div class="value"> {{ card.value }} </div>
                    </div>
                {% endfor %}


            </div>
        </div>

        <div id="game-buttons">
            <button hx-post="/draw" hx-target="body"> Draw </button>
            <button hx-post="/fold" hx-target="body"> Fold </button>
            <button hx-post="/bet" hx-target="#player-info" hx-swap="innerHTML"> Bet </button>
        </div>

    </div>
</main>
</body>